/* -- GLOBAL -- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia;
}

h1,
h5,
h6 {
  width: 100%;
  text-align: center;
  padding: 5px;
}

.header-sec {
  margin: 20px;
}

.movies {
  width: 100%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 600px) {
  .image {
    margin: 25px;
    width: 25vh;
    min-height: 35vh;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (max-width: 599px) {
    .image {
      margin: 0px;
      width: 100vh;
      min-height: 100vh;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

.links {
  width: 100%;
  margin: 40px auto 15px;
  text-align: center;
}

.hov {
  display: inline;
}

.hov .tooltiptext {
  visibility: hidden;
  width: 320px;
  background-color: black;
  opacity: 85%;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;

  /* position the tooltip */
  position: absolute;
  z-index: 1;
}

.hov:hover .tooltiptext {
  visibility: visible;
}

.map {
  margin: auto;
}

.maps {
  margin: 15px auto;
  text-align: center;
}